.navBarNav{
    background-color: indianred;
    margin: 0;
}
.navBarDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* 
.navBarImgDiv{
} */

.navBarTextDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarCartImageDiv{
    background-color: #000;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 5px;
}

.navBarCart{
    width: 16px;
    
}
.navBarItems{
    padding: 5px 10px;
    margin: 0 20px;
    color: whitesmoke;
    font-size: 16px;
    border-radius: 5px;
}
.navBarItems:hover{
    background-color: black;
}
.navBarCountsDiv{
    background-color: #fff;
    position: relative;
    border-radius: 9px;
    bottom: 16px;
    right: 23px;
    padding: 0 6px;
    margin: 0 8px;
}
.navBarCounts{
    margin: 0 auto;

}

#menuToggle{
    display: none;
    cursor: pointer;
  margin: 0px;
  margin-left: -10px;
  padding: 10px;
  z-index: 2;
  border-radius: 5px;
}


#menuToggle:hover{
    background-color: black;
}


#menuToggle span
{
  display: block;
  width: 18px;
  height: 3px;
  margin-bottom: 3px;
  position: relative;
  
  background:whitesmoke;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}



.navBarHamburgerOpen{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: indianred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease 0s;
}
.navBarActive{
    width: 0;
    overflow: hidden;
    /* display: none; */
}
.navBarHamburgerItems{
    padding: 5px 10px;
    color: whitesmoke;
    font-size: 16px;
    border-radius: 5px;
}

.navBarHamburgerItems:hover{
    background-color: black;
}
@media only screen and (max-width: 900px) {
    #menuToggle{
        display: block;
    }
    .navBarItems{
        display: none;
    }
}